<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head">
</head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main class="wood-background">

    <div class="row justify-content-center mx-auto col-6">
        <form id="add-product-form"
              class="w-75 rounded text-white my-4 bg-dark rounded-5"
              enctype="multipart/form-data"
              th:action="@{/product/add/ingredients}"
              th:method="post"
              th:object="${productAddBindingModel}">

            <h3 class="text-center"> Add product Ingredients</h3>

            <div id="ingredientInputs" th:each="i : ${#numbers.sequence( 1, 5)}">
                <div id="ingredientName" class="mt-2">
                    <div class="form-group">
                        <label for="inputIngredientName" class="col-form-label ">Ingredient Name</label>
                    </div>
                    <div class="form-group">
                        <input name="ingredientName"
                               th:field="*{ingredientName}"
                               th:errorclass="'is-invalid bg-danger'"
                               required minlength="1" maxlength="20"
                               type="text"
                               id="inputIngredientName"
                               class="form-control"
                               aria-describedby="inputIngredientNameError">
                        <small th:if="${#fields.hasErrors('ingredientName')}" th:errors="*{ingredientName}"
                               id="inputIngredientNameError"
                               class="rounded text-danger">Name length must be more than 3 characters</small>
                    </div>
                </div>

                <div id="ingredientGrams" class="mt-2">
                    <div class="form-group">
                        <label for="inputIngredientGrams" class="col-form-label">Ingredient grams</label>
                    </div>
                    <div class="form-group">
                        <input name="inputIngredientGrams"
                               th:field="*{ingredientGrams}"
                               th:errorclass="'is-invalid bg-danger'"
                               required minlength="1" maxlength="20"
                               type="number"
                               pattern="[0-9]+([\.][0-9]+)?"
                               step="0"
                               id="inputIngredientGrams"
                               class="form-control"
                               aria-describedby="inputIngredientGramsError">
                        <small th:if="${#fields.hasErrors('ingredientGrams')}" th:errors="*{ingredientGrams}"
                               id="inputIngredientGramsError"
                               class="rounded text-danger">Ingredient grams must be positive</small>
                    </div>
                </div>
                <hr>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-success btn-block w-50" type="submit">Add ingredient</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script th:replace="fragments/commons::script-bootstrap-bundle"></script>


</body>
</html>

