<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main id="user-home-main">

    <!--orders-buttons-->
    <div class="btn-group order-buttons" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">Left</button>
        <button type="button" class="btn btn-warning">Middle</button>
        <button type="button" class="btn btn-success">Right</button>
    </div>

    <!--carousel-->
    <div id="customer-home-carousel" class="carousel slide">
        <!--the - - - - - buttons-->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#customer-home-carousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#customer-home-carousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#customer-home-carousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#customer-home-carousel" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#customer-home-carousel" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
        </div>

        <!--each item-->
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img th:src="'/images/pizza-select.jpg'" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-none d-md-block c-description">
                    <h>First slide label</h>
                    <p>Some representative placeholder content for the first slide.</p>
                    <button type="button" class="btn btn-success btn-lg">Small button</button>
                </div>
            </div>

            <div class="carousel-item c-item">
                <img th:src="'/images/pasta-select.jpg'" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-none d-md-block c-description">
                    <h>Second slide label</h>
                    <p>Some representative placeholder content for the second slide.</p>
                    <button type="button" class="btn btn-success btn-lg">Small button</button>
                </div>
            </div>

            <div class="carousel-item c-item">
                <img th:src="'/images/salad-select.jpg'" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-none d-md-block c-description">
                    <h>Third slide label</h>
                    <p>Some representative placeholder content for the third slide.</p>
                    <button type="button" class="btn btn-success btn-lg">Small button</button>
                </div>
            </div>

            <div class="carousel-item c-item">
                <img th:src="'/images/dessert-select.jpg'" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-none d-md-block c-description">
                    <h>Second slide label</h>
                    <p>Some representative placeholder content for the second slide.</p>
                    <button type="button" class="btn btn-success btn-lg">Small button</button>
                </div>
            </div>

            <div class="carousel-item c-item">
                <img th:src="'/images/drink-select.jpg'" class="d-block w-100 c-img" alt="...">
                <div class="carousel-caption d-none d-md-block c-description">
                    <h>Second slide label</h>
                    <p>Some representative placeholder content for the second slide.</p>
                    <button type="button" class="btn btn-success btn-lg">Small button</button>
                </div>
            </div>
        </div>

        <!--previous-next buttons-->
        <button class="carousel-control-prev" type="button" data-bs-target="#customer-home-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#customer-home-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="footer-fix">
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>

</html>

