<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main class="wood-background menu-main">

    <div class="container">
        <div class="row">

            <!--static products-->
            <div class="col-4">
                <div class="card">
                    <img src="/images/menu-items/pizza/Cheese-And-Tomato.jpg" class="card-img-top" alt="Cheese And Tomato">
                    <div class="card-body">
                        <h5 class="card-title">Cheese & Tomato</h5>
                        <p class="card-text">Pizza sauce and Mozzarella</p>
                        <p class="grams">Grams: 450</p>
                        <p class="price">Price: 10.50</p>
                        <a href="/menu/pizza/1" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img src="/images/menu-items/pizza/Four-Cheese.jpg" class="card-img-top" alt="Four Cheese">
                    <div class="card-body">
                        <h5 class="card-title">Four cheese</h5>
                        <p class="card-text">Pizza sauce, Mozzarella, Matured, Gouda</p>
                        <p class="grams">Grams: 450</p>
                        <p class="price">Price: 11.00</p>
                        <a href="/menu/pizza/2" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img src="/images/menu-items/pizza/Garden-Party.jpg" class="card-img-top" alt="Garden Party">
                    <div class="card-body">
                        <h5 class="card-title">Garden Party</h5>
                        <p class="card-text">Pizza sauce, Mozzarella, Mushrooms, Green Bell Pepper, Red Onions,
                            Sweetcorn and Fresh Tomatoes</p>
                        <p class="grams">Grams: 450</p>
                        <p class="price">Price: 12.00</p>
                        <a href="/menu/pizza/3" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>

            <!--dynamic product with thymeleaf-->
            <div class="col-4" th:each="p, iterStat : ${allPizza}" th:if="${iterStat.index >= 3}">
                <div class="card" th:object="${p}">
                    <!--if picture is encoded use this picture-->
                    <img th:src="${'data:image/jpeg;base64,' + p.pictureData}"
                         class="card-img-top"
                         alt="Pizza Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${p.name}"></h5>
                        <p class="card-text" th:text="${p.description}"></p>
                        <p class="grams" th:text="'Grams: ' + ${p.grams}">out of stock</p>
                        <p class="price" th:text="'Price: ' + ${p.price}">out of stock</p>
                        <a th:href="@{'/menu/pizza/' + ${p.id}}" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>

</html>

