<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>

<main class="wood-background">

    <div class="justify-content-center">
        <table id="table-active" class="table table-bordered table-dark w-75 mx-auto my-5">
            <thead>

            <tr>
                <th colspan="5" class="text-center">Active Orders</th>
            </tr>

            <tr>
                <th class="col-1">Order ID</th>
                <th class="col-3">Username</th>
                <th class="col-3">Email</th>
                <th class="col-3">Phone</th>
                <th class="col-2">Date Completed</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Date</td>
            </tr>

            </tbody>
        </table>
    </div>

</main>

<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>
</html>

