<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>

<main class="wood-background">
    <div class="container">
        <div class="main-body">

            <div id="profile-card"
                 class="card mb-3"
                 th:object="${currentUser}">

                <div class="card-body">
                    <h1>Profile Settings</h1>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-8 text-secondary"
                             th:text="*{username}">
                            Kenneth Valdez
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-8 text-secondary"
                             th:text="*{user.fullName}">
                            Full Name
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Mobile number</h6>
                        </div>
                        <div class="col-sm-8 text-secondary" th:text="*{user.phone}">
                            Phone number
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-8 text-secondary" th:text="*{user.email}">
                            email
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Role</h6>
                        </div>
                        <th:block th:with="userRoles=${#strings.arrayToDelimitedString(user.roles.![toString()], ', ')}">
                            <div class="col-sm-8 text-secondary" th:text="${userRoles}"></div>
                        </th:block>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-8 text-secondary" th:text="*{user.address}">
                        Bay Area, San Francisco, CA
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>
</html>

