@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Pacifico&display=swap');


body {
    background-color: #c43631
}

/*Site-Navigation*/
.index-main {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 0 auto;

    /*    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.6)), url("https://drive.google.com/uc?export=view&id=1IKTo95PihHEAyLN4dmNEaRkH9G8AZMfS"); <- if we want to use the same photo but from google drive*/
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url("/images/pizza-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #c43631;
}

.navigation {
    padding: 0 20px;

}

.navigation p {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    font-size: 30px;
    padding-top: 10px;
}

nav {
    display: inline-block;
    font-size: 24px;
}

.nav-href {
    font-family: 'Pacifico', cursive;
    float: right;
}

li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 10px;
    background-color: #c43631
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: snow;
    cursor: pointer;
}

/*Site-Navigation*/

.site-header {
    text-align: center;
    margin: 0;
    padding: 150px;
    margin-top: 10vh;
}

.site-header h1 {
    font-size: 70px;
    color: snow;
}

.site-header a {
    font-size: 30px;
    color: snow;
    background: transparent;
    border-width: 1px;
    border-color: snow;
    border-style: solid;
}

.site-header a:hover {
    background: #c43631;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

/*footer*/

footer {
    background-color: #c43631;
    display: inline-block;
    position: relative;
    width: 100%;
}

footer p {
    display: inline-block;
    color: black;
    padding-top: 15px;
    padding-left: 30px;
}

.contact-us {
    float: right;
    padding-right: 30px;
}

/* register */

.vh-100 {
    text-align: center;
}

.h-100 {
    color: transparent;
}

.register {
    text-align: center;
    margin: 0;
    padding: 0 30vw;
    margin-top: 10vh;
}

.register label {
    color: snow;
}

.register h1 {
    color: snow;
}

.register button {
    background: #c43631;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

.register button:hover {
    background: #ff4040;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

/*login */
.login {
    text-align: center;
    margin: 0;
    padding: 20vh 30vw;

}

.login label {
    color: snow;
}

.login h1 {
    color: snow;
}

.login button {
    background: #c43631;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

.login button:hover {
    background: #ff4040;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

/*about us*/

#about-main {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("/images/about-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 87vh;
    display: flex;
    flex-direction: column;

}

.about p {
    color: snow;
    float: right;
    padding: 30px;
    font-size: 20px;
    margin-left: 60vw;
    margin-top: 10vh;

}

/*home page - user*/

.wood-background {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.4)), url("/images/home-user-background.jpg");
    background-size: cover;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
}

/*carousel*/

#customer-home-carousel {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 70vh;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/*.c-item {*/
/*    height: 70vh;*/
/*}*/

.c-img {
    width: 80%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.6);
    border-radius: 25px;
}

.c-description {
    padding-bottom: 10vh;
}

.order-buttons {
    text-align: center;
    position: center;
    padding-right: 15vw;
    padding-left: 15vw;
    margin-top: 5vh;
}

#nav-buttons-user-home {
    font-family: 'Pacifico', cursive;
    color: black;
}

.btn-white {
    background-color: white;
}

.btn-white:hover {
    background-color: silver;
}

/*menu*/

.col-4 {
    padding: 10px;
}
.card {
    background-image: url("/images/card-menu-background.jpg");
}

.card-img-top {
    height: 300px;
    width: 400px;
    margin: 10px auto;
}

.card-body {
    height: 250px;
    width: 400px;
}

/*profile*/

.profile-container {
    background-color: #c43631;
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
}

#profile-card {
    height: 60vh;
    width: 40vw;
    margin: 20px auto;
    overflow-x: auto; /* for horizontal scrolling*/
    overflow-y: auto; /* for vertical scrolling */
}

.card-body {
    margin: 0 auto;
    text-align: center;
}




