@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* index page */

/*Site-Navigation*/
body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    background-color: #c43631;
}

.navigation {
    padding: 0 20px;
    background-color: #c43631;
}

.navigation p {
    display: inline-block;
    font-size: 30px;
}

nav {
    display: inline-block;
}

.nav-href {
    float: right;
}

li {
    display: inline-block;
    padding: 10px;
    background-color: #c43631
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: snow;
    cursor: pointer;
}

/*Site-Navigation*/

.site-header {
    /*tinting and adding the image from google drive*/
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0,0,0, 0.6)), url("https://drive.google.com/uc?export=view&id=1IKTo95PihHEAyLN4dmNEaRkH9G8AZMfS");
    background-size: cover;
    text-align: center;
    padding: 340px;
}

.site-header h1 {
    font-size: 70px;
    color: snow;
}

.site-header a {
    font-size: 30px;
    color: snow;
    background: transparent;
    border-width: 1px;
    border-color: snow;
    border-style: solid;
}

.site-header a:hover {
    background:  #c43631;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

footer {
    background: #c43631;
    display: inline-block;
    width: 100%;
}

footer p{
    display: inline-block;
    color: black;
    padding-top: 15px;
    padding-left: 30px;
}

footer a {
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

/* register */

.vh-100 {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0,0,0, 0.6)), url("https://drive.google.com/uc?export=view&id=1IKTo95PihHEAyLN4dmNEaRkH9G8AZMfS");
    text-align: center;
}

.h-100 {
    margin: auto;
    color: transparent;
}

.register {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0,0,0, 0.6)), url("https://drive.google.com/uc?export=view&id=1IKTo95PihHEAyLN4dmNEaRkH9G8AZMfS");
    background-size: cover;
    text-align: center;
    padding: 160px 600px;
}

.register label {
    color: snow;
}

.register h1 {
    color: snow;
}

.register button {
    background:  #c43631;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}

.register button:hover {
    background:  #ff4040;
    border-width: 1px;
    border-color: #c43631;
    border-style: solid;
}